.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial, sans-serif';
    background-color: #f9f9f9;
    border-radius: 10px;
}
.overskrift {
    font-size: 2.5em;
    color: #b22222;
    text-align: center;
    margin-bottom: 20px;
}
.brødtextStart {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 30px;
}
a {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background-color: #b22222;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    background-color: #8b1a1a;
}
.snow,
.snow:before,
.snow:after {
    position: absolute;
    top: -650px;
    left: 0;
    bottom: 0;
    right: 0;

    pointer-events: none; /* ❤️
 FIX: this makes your buttons clickable */

    background-image: radial-gradient(4px 4px at 100px 50px, #fff 100%, transparent 0%),
                      radial-gradient(6px 6px at 200px 150px, #fff, transparent 0%),
                      radial-gradient(3px 3px at 300px 250px, #fff 100%, transparent 0%),
                      radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent 0%),
                      radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent 0%),
                      radial-gradient(6px 6px at 50px 200px, #fff 50%, transparent 0%),
                      radial-gradient(4px 4px at 150px 350px, #fff 50%, transparent 0%),
                      radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent 0%),
                      radial-gradient(6px 6px at 350px 500px, #fff 50%, transparent 0%),
                      radial-gradient(4px 4px at 150px 600px, #fff 50%, transparent 0%),
                      radial-gradient(6px 6px at 350px 700px, #fff 100%, transparent 0%),
                      radial-gradient(6px 6px at 450px 800px, #fff 100%, transparent 0%);

    background-size: 650px 650px;
    animation: snow 3s linear infinite;
    content: "";
}

.snow::after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-duration: 6s;
    animation-direction: reverse;
}

.snow:before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 9s;
}

@keyframes snow {
    to { transform: translateY(650px); }
}
.body
{
    background-color: rgb(14, 5, 91);
}